::selection {
  background-color: var(--select);
}

li {
  list-style: '';
}

a {
  color: var(--main);
  text-decoration: none;
}

.display-none {
  display: none;
}

.card-block {
  box-shadow: var(--el-box-shadow-light);
  border-radius: var(--el-border-radius-base);
  background: var(--background);
  transition: background-color ease .3s;
}
